* {  font: 16px/18px Helvetica, "Microsoft YaHei";  margin: 0;  padding: 0;  border: 0;  text-decoration: none;  list-style: none  }
a { -webkit-transition: all .2s ease-in-out 0s; transition: all .2s ease-in-out 0s; }
a:active{text-decoration: none !important;}
a:link{text-decoration: none !important;}
/* header */
header {  background: url(../images/bg.jpg) no-repeat scroll right bottom / cover;  }
header section {  width: 400px;  position: absolute;  top: 25%;  left: 15%;  margin: 0px 0 0 0px;color: #000;  }
@media (max-width: 500px) {
    header section{
        left: 5%;
    }
}
header h1 {  font-size: 72px !important;  line-height: 96px;  }
header h2 {  font-size: 36px !important;  line-height: 48px;  }
header nav ul li a, header h1, header h2 {  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);  }
header nav {  width: 100%;  height: 96px;  background: url(../images/nav_bg.svg) no-repeat;  position: relative;  z-index: 99;  }
header nav ul {  width: 100%;  margin: 0 auto;  }
header nav ul li {  float: right;  margin: 8px;  }
header nav ul li a {  line-height: 72px;  padding: 16px;  border-radius: 4px;  color: #fff; text-decoration: none !important; }
header nav ul li a:hover {  background-color: rgba(0, 0, 0, .3); text-decoration: none !important; }
header article.v.ic {  width: 32px;  height: 32px;  line-height: 32px;  font-size: 32px;  position: absolute;  left: 50%;  bottom: 56px;  margin-left: -16px;  -webkit-animation: 1.7s ease 0s normal none infinite magic-mouse-icon;  }
@-webkit-keyframes magic-mouse-icon { 0% {  opacity: 0;  } 30% {  opacity: 1;  } 100% {  bottom: 48px;  opacity: 0;  } }

.follow {width: 256px;overflow: hidden}
.follow li{margin: 4px 0;float: left}
.follow li a{width: 252px;height: 60px;line-height: 64px;text-align: center;border: 2px solid rgba(0,0,0,.5); border-radius: 8px;font-size: 18px;display: block;color: #000000}
.follow li a:hover{background: rgba(0,0,0,.5);border-color: transparent; color: #fff;}
.follow li a:active{background: rgba(0,0,0,.8);}
.follow li a i {font-size: 28px;}

/* content */
.content { text-align: center;}
.content section{ width: 100%; position: relative; overflow: hidden;float: left}
.content h1{font-size: 48px !important;  line-height: 128px;  }


.content .members ul{ margin: 0 auto}
.content .members ul li{ float: left; margin: 0;width: 20%;}

.content .member{background: #f6f6f6;border-radius: 12px;margin: 0px;border: 1px solid #eee;-webkit-border-radius: 12px;-moz-border-radius: 12px;
    -webkit-box-shadow: #f1f1f1 5px 5px 10px;-moz-box-shadow: #f1f1f1 5px 5px 10px;box-shadow: #f1f1f1 5px 5px 10px;}
.content .member {margin: 32px 16px 16px 16px;}
.content .member img{ width: 72px;height: 72px;position: relative;border-radius: 50%;margin: 8px;-webkit-transition-duration: 0.5s;-moz-transition-duration: 0.5s;}
.content .member img:hover{ width: 108px;height: 108px;margin: 4px;position: relative;}
.content .member h3{line-height: 24px;}
.content .member h4{color: #777; font-size: 14px;line-height: 24px;}
.content .member p{ margin: 8px;color: #777; font-size: 14px;letter-spacing: 1px;line-height: 18px;height: 105px;}
@media (max-width: 1000px){
    .content .member p{
        height: 60px;
    }
}

.content .describe{ margin: 0 auto;}
.content .describe p{color: #333; font-size: 16px;line-height: 22px;letter-spacing: 1px;margin: 8px 32px 32px 32px;padding: 16px;}
.content .describe p{background: #f6f6f6;border-radius: 12px;margin: 16px;border: 1px solid #eee;-webkit-border-radius: 12px;-moz-border-radius: 12px;
    -webkit-box-shadow: #f1f1f1 5px 5px 10px;-moz-box-shadow: #f1f1f1 5px 5px 10px;box-shadow: #f1f1f1 5px 5px 10px;}


/* footer */
footer, footer a {  font-size: 13px;  color: #333;  margin: 0 8px;  }
footer a:hover {  text-decoration: underline;  }
#h_footer {  position: absolute;  bottom: 0;  padding: 10px;  }
#f_footer{  text-align: center;  margin:50px 0;  padding-top:20px;  }
#f_footer .ic{  font-size: 24px;  margin: 0 4px;  }
#f_footer .ic:hover{  text-decoration: none;  }

/* qrocde */
.qrcode { width: 100%; background: rgba(0,0,0,.5); color: #333; position: fixed; top: 0; left: 0; z-index: 999;  display: none;}
.qrcode .container { background-color: #fff; padding: 15px; position: absolute; top: 50%; left: 50%; margin: 135px 0 0 -135px; box-shadow: 0 0 20px #555; }
.qrcode em { width: 240px; height: 240px; line-height: 240px; text-align: center; font-size: 230px; display: block; }
.qrcode p { text-align: center; font-size: 13px; padding-top: 5px; }
.qrcode p a { color: #50c0e9; font-size: 13px; }
.qrcode .close { width: 34px; height: 34px; line-height: 34px; text-align: center; font-size: 18px; color: #fff; background: #333; border: 2px solid #fff; border-radius: 50%; display: block; position: absolute; top: -17px; right: -17px; }
.qrcode .close.mac { left: 0; }
.wechat_qrcode { width:240px; height:240px; display:none; }

.col-lg-2{ width: 20%;float: left;}
@media (max-width: 1000px){
    .col-lg-2{ width: 100%;}
    .content .member {margin:8px 16px 8px 16px;}
}

/* history */
.history{ margin-top: 40px;padding-bottom: 40px;}
#timeline{width: 90%;margin: 0 auto;position: relative;}
#timeline:before{content:"";width: 3px;height: 100%;background: #ee4d4d;left: 50%;top:0;position: absolute;}
#timeline:after{content:"";clear: both;display: table;width: 100%;}

#timeline .timeline-icon{width: 36px;height: 36px;left: 50%;margin-left: -17px;margin-top:8px;background: #ee4d4d;position: absolute;overflow: hidden;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;}
#timeline p{padding: 12px;}
#timeline h2{padding: 15px;color: #fff;font-weight: 500;background: #ee4d4d;border-radius: 12px 12px 0 0;
    -webkit-border-radius: 12px 12px 0 0;-moz-border-radius: 12px 12px 0 0;}

#timeline .bg{background: #f6f6f6;border-radius: 12px;border: 1px solid #eee;-webkit-border-radius: 12px;-moz-border-radius: 12px;
    -webkit-box-shadow: #eee 10px 10px 10px;-moz-box-shadow: #eee 10px 10px 10px;box-shadow: #eee 10px 10px 10px;  }
#timeline .timeline-item{margin-top: 32px;width: 100%;position: relative;}
#timeline .timeline-item .time{width:92%;text-align: right;color: #777;font-size: 14px;position: relative;}

#timeline .timeline-item-left{width:45%;position:relative; }
#timeline .timeline-item-right{width: 45%;margin-left: 56%;position: relative;}
#timeline .timeline-item-left:before{content: '';position: absolute;left: 100%;top: 20px;width: 0px;height: 0px;  border-top: 7px solid transparent;border-bottom: 7px solid transparent;border-left: 12px solid #ee4d4d;}
#timeline .timeline-item-right:before{content: '';position: absolute;right: 100%;left:inherit;top: 20px;width: 0px;height: 0px;  border-top: 7px solid transparent;border-bottom: 7px solid transparent;border-left: 0;border-right: 12px solid #ee4d4d;}
@media (max-width: 670px) {
    #timeline .timeline-item-left:before{display: none;}
    #timeline .timeline-item-right:before{display: none;}
    #timeline .bg{-webkit-box-shadow: #eee 2px 2px 2px;-moz-box-shadow: #eee 2px 2px 2px;box-shadow: #eee 2px 2px 2px;  }
}
